<a href="https://colab.research.google.com/github/mikeguzman1294/EvolutionaryGameTheory/blob/main/BehaviorSpace_Parser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NetLogo Behavior Space Parser

## Prepare the Environment

Import the required libraries

In [143]:
import pandas as pd

Set global variables

In [144]:
nb_sims = 10 # Number of simulations per parameter configuration set in Behavior Space

Import the datasets

In [145]:
# Clone the repo containing the dataset
!git clone -l -s https://github.com/mikeguzman1294/EvolutionaryGameTheory.git cloned-repo

# Move to the relative path containing the datasets
%cd cloned-repo/Datasets

Cloning into 'cloned-repo'...
warning: --local is ignored
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 11 (delta 0), reused 7 (delta 0), pack-reused 0
Unpacking objects: 100% (11/11), 9.11 KiB | 1.82 MiB/s, done.
/content/cloned-repo/Datasets/cloned-repo/Datasets/cloned-repo/Datasets/cloned-repo/Datasets

## Game Data Analysis

### Hawk - Dove - Retaliators

#### c > v

Read the pre-processed csv file generated by the BehaviorSpace simulation.

In [146]:
data_hdr_cv = pd.read_csv('hdr_cv.csv', sep=";")
data_hdr_cv

,[run number],c,v,p,q,[step],count hawks,count doves,count retaliators,v / c
0,7,0.36,0.15,0.25,0.25,8000,66,134,0,0.416667
1,2,0.36,0.15,0.25,0.25,8000,69,131,0,0.416667
2,8,0.36,0.15,0.25,0.25,8000,66,134,0,0.416667
3,12,0.36,0.15,0.25,0.45,8000,66,133,1,0.416667
4,6,0.36,0.15,0.25,0.25,8000,68,132,0,0.416667
...,...,...,...,...,...,...,...,...,...,...
355,356,0.56,0.35,0.45,0.45,8000,94,103,3,0.625000
356,357,0.56,0.35,0.45,0.45,8000,96,104,0,0.625000
357,358,0.56,0.35,0.45,0.45,8000,93,107,0,0.625000
358,359,0.56,0.35,0.45,0.45,8000,93,106,1,0.625000
359,360,0.56,0.35,0.45,0.45,8000,97,103,0,0.625000

Sort the data frame according the first column which is the run number. Since Netlogo uses multi-threading in Behavior Space simulations, each run is assigned to a thread so they don't necessarily finish at the same time and, consequently, they are not sequentially ordered.

In [147]:
data_hdr_cv = data_hdr_cv.sort_values(by=data_hdr_cv.columns[0], ascending=True)
data_hdr_cv

,[run number],c,v,p,q,[step],count hawks,count doves,count retaliators,v / c
11,1,0.36,0.15,0.25,0.25,8000,65,135,0,0.416667
1,2,0.36,0.15,0.25,0.25,8000,69,131,0,0.416667
10,3,0.36,0.15,0.25,0.25,8000,71,129,0,0.416667
9,4,0.36,0.15,0.25,0.25,8000,66,134,0,0.416667
7,5,0.36,0.15,0.25,0.25,8000,64,136,0,0.416667
...,...,...,...,...,...,...,...,...,...,...
355,356,0.56,0.35,0.45,0.45,8000,94,103,3,0.625000
356,357,0.56,0.35,0.45,0.45,8000,96,104,0,0.625000
357,358,0.56,0.35,0.45,0.45,8000,93,107,0,0.625000
358,359,0.56,0.35,0.45,0.45,8000,93,106,1,0.625000
359,360,0.56,0.35,0.45,0.45,8000,97,103,0,0.625000

Define a function that gets the average results of all possible combination of parameter configurations and places them in a new dataframe.

In [148]:
def process_hdr_cv_data(df):
    parameters = []
    averages = []
    for i in range(0, len(df), 10):
        rows = df.iloc[i:i+10]
        parameters.append(list(rows.iloc[0, 1:5]))
        averages.append(list(rows.iloc[:, -4:].mean()))

    parameters_df = pd.DataFrame(parameters)
    averages_df = pd.DataFrame(averages)

    merged_df = pd.concat([parameters_df, averages_df], axis=1)

    return merged_df

Rename the columns properly.

In [149]:
new_data_hdr_cv = process_hdr_cv_data(data_hdr_cv)
new_data_hdr_cv.columns = ['c','v','p','q','avg_hawks','avg_doves','avg_retaliators','v/c'] 
new_data_hdr_cv.round(decimals=2)
new_data_hdr_cv

       c     v     p     q  avg_hawks  avg_doves  avg_retaliators       v/c
0   0.36  0.15  0.25  0.25       67.1      132.9              0.0  0.416667
1   0.36  0.15  0.25  0.45       66.5      132.8              0.7  0.416667
2   0.36  0.15  0.45  0.25       66.9      133.1              0.0  0.416667
3   0.36  0.15  0.45  0.45       67.7      132.1              0.2  0.416667
4   0.36  0.25  0.25  0.25      104.0       95.5              0.5  0.694444
5   0.36  0.25  0.25  0.45      104.7       95.0              0.3  0.694444
6   0.36  0.25  0.45  0.25      102.9       96.3              0.8  0.694444
7   0.36  0.25  0.45  0.45      103.1       96.0              0.9  0.694444
8   0.36  0.35  0.25  0.25      125.3       71.5              3.2  0.972222
9   0.36  0.35  0.25  0.45      126.8       70.9              2.3  0.972222
10  0.36  0.35  0.45  0.25      126.0       71.5              2.5  0.972222
11  0.36  0.35  0.45  0.45      126.9       69.9              3.2  0.972222
12  0.46  0.15  0.25  0.25       50.0      142.5              7.5  0.326087
13  0.46  0.15  0.25  0.45       55.6      143.9              0.5  0.326087
14  0.46  0.15  0.45  0.25       53.4      145.8              0.8  0.326087
15  0.46  0.15  0.45  0.45       55.3      144.2              0.5  0.326087
16  0.46  0.25  0.25  0.25       76.9      110.2             12.9  0.543478
17  0.46  0.25  0.25  0.45       85.9      113.6              0.5  0.543478
18  0.46  0.25  0.45  0.25       86.6      113.0              0.4  0.543478
19  0.46  0.25  0.45  0.45       87.1      112.8              0.1  0.543478
20  0.46  0.35  0.25  0.25      100.0       67.8             32.2  0.760870
21  0.46  0.35  0.25  0.45      123.8       75.0              1.2  0.760870
22  0.46  0.35  0.45  0.25      124.1       75.0              0.9  0.760870
23  0.46  0.35  0.45  0.45      124.9       73.6              1.5  0.760870
24  0.56  0.15  0.25  0.25       48.0      151.8              0.2  0.267857
25  0.56  0.15  0.25  0.45       46.7      152.9              0.4  0.267857
26  0.56  0.15  0.45  0.25       47.3      152.5              0.2  0.267857
27  0.56  0.15  0.45  0.45       46.7      153.2              0.1  0.267857
28  0.56  0.25  0.25  0.25       65.8      123.1             11.1  0.446429
29  0.56  0.25  0.25  0.45       72.0      127.6              0.4  0.446429
30  0.56  0.25  0.45  0.25       73.8      125.9              0.3  0.446429
31  0.56  0.25  0.45  0.45       72.7      127.3              0.0  0.446429
32  0.56  0.35  0.25  0.25       95.0      104.5              0.5  0.625000
33  0.56  0.35  0.25  0.45       95.5      104.2              0.3  0.625000
34  0.56  0.35  0.45  0.25       95.1      104.3              0.6  0.625000
35  0.56  0.35  0.45  0.45       94.2      105.2              0.6  0.625000

#### v > c

Read the pre-processed csv file generated by the BehaviorSpace simulation.

In [150]:
data_hdr_vc = pd.read_csv('hdr_vc.csv', sep=";")
data_hdr_vc

,[run number],v,c,p,q,[step],count hawks,count doves,count retaliators
0,11,0.36,0.15,0.25,0.45,10000,0,48,152
1,6,0.36,0.15,0.25,0.25,10000,0,25,175
2,2,0.36,0.15,0.25,0.25,10000,0,43,157
3,7,0.36,0.15,0.25,0.25,10000,0,61,139
4,12,0.36,0.15,0.25,0.45,10000,0,21,179
...,...,...,...,...,...,...,...,...,...
355,355,0.56,0.35,0.45,0.45,10000,0,49,151
356,357,0.56,0.35,0.45,0.45,10000,0,46,154
357,358,0.56,0.35,0.45,0.45,10000,0,51,149
358,360,0.56,0.35,0.45,0.45,10000,0,58,142
359,359,0.56,0.35,0.45,0.45,10000,0,49,151

Sort the data frame according the first column which is the run number. Since Netlogo uses multi-threading in Behavior Space simulations, each run is assigned to a thread so they don't necessarily finish at the same time and, consequently, they are not sequentially ordered.

In [151]:
data_hdr_vc = data_hdr_vc.sort_values(by=data_hdr_vc.columns[0], ascending=True)
data_hdr_vc

,[run number],v,c,p,q,[step],count hawks,count doves,count retaliators
7,1,0.36,0.15,0.25,0.25,10000,0,24,176
2,2,0.36,0.15,0.25,0.25,10000,0,43,157
10,3,0.36,0.15,0.25,0.25,10000,0,38,162
11,4,0.36,0.15,0.25,0.25,10000,0,48,152
5,5,0.36,0.15,0.25,0.25,10000,0,48,152
...,...,...,...,...,...,...,...,...,...
354,356,0.56,0.35,0.45,0.45,10000,0,70,130
356,357,0.56,0.35,0.45,0.45,10000,0,46,154
357,358,0.56,0.35,0.45,0.45,10000,0,51,149
359,359,0.56,0.35,0.45,0.45,10000,0,49,151
358,360,0.56,0.35,0.45,0.45,10000,0,58,142

Define a function that gets the average results of all possible combination of parameter configurations and places them in a new dataframe.

In [152]:
def process_hdr_vc_data(df):
    parameters = []
    averages = []
    for i in range(0, len(df), 10):
        rows = df.iloc[i:i+10]
        parameters.append(list(rows.iloc[0, 1:5]))
        averages.append(list(rows.iloc[:, -3:].mean()))

    parameters_df = pd.DataFrame(parameters)
    averages_df = pd.DataFrame(averages)

    merged_df = pd.concat([parameters_df, averages_df], axis=1)

    return merged_df

Rename the columns properly.

In [153]:
new_data_hdr_vc = process_hdr_vc_data(data_hdr_vc)
new_data_hdr_vc.columns = ['v','c','p','q','avg_hawks','avg_doves','avg_retaliators'] 
new_data_hdr_vc

       v     c     p     q  avg_hawks  avg_doves  avg_retaliators
0   0.36  0.15  0.25  0.25        0.3       45.4            154.3
1   0.36  0.15  0.25  0.45        0.0       41.6            158.4
2   0.36  0.15  0.45  0.25        0.2       40.6            159.2
3   0.36  0.15  0.45  0.45        0.2       42.9            156.9
4   0.36  0.25  0.25  0.25        0.1       51.6            148.3
5   0.36  0.25  0.25  0.45        0.1       51.9            148.0
6   0.36  0.25  0.45  0.25        0.1       52.5            147.4
7   0.36  0.25  0.45  0.45        0.8       53.6            145.6
8   0.36  0.35  0.25  0.25        0.2       55.5            144.3
9   0.36  0.35  0.25  0.45        0.0       52.2            147.8
10  0.36  0.35  0.45  0.25        3.6       52.9            143.5
11  0.36  0.35  0.45  0.45        1.8       69.2            129.0
12  0.46  0.15  0.25  0.25        0.3       34.8            164.9
13  0.46  0.15  0.25  0.45        0.2       30.2            169.6
14  0.46  0.15  0.45  0.25        0.3       26.4            173.3
15  0.46  0.15  0.45  0.45        0.4       36.9            162.7
16  0.46  0.25  0.25  0.25        0.4       50.3            149.3
17  0.46  0.25  0.25  0.45        0.5       57.9            141.6
18  0.46  0.25  0.45  0.25        1.0       49.3            149.7
19  0.46  0.25  0.45  0.45        1.1       61.3            137.6
20  0.46  0.35  0.25  0.25        0.2       50.0            149.8
21  0.46  0.35  0.25  0.45        0.2       67.3            132.5
22  0.46  0.35  0.45  0.25        0.0       46.5            153.5
23  0.46  0.35  0.45  0.45        0.1       58.2            141.7
24  0.56  0.15  0.25  0.25        1.1       33.1            165.8
25  0.56  0.15  0.25  0.45        0.2       25.9            173.9
26  0.56  0.15  0.45  0.25        0.4       28.9            170.7
27  0.56  0.15  0.45  0.45        3.3       27.7            169.0
28  0.56  0.25  0.25  0.25        0.9       40.5            158.6
29  0.56  0.25  0.25  0.45        0.3       31.3            168.4
30  0.56  0.25  0.45  0.25        0.0       47.1            152.9
31  0.56  0.25  0.45  0.45        0.3       49.7            150.0
32  0.56  0.35  0.25  0.25        0.2       43.7            156.1
33  0.56  0.35  0.25  0.45        0.1       52.3            147.6
34  0.56  0.35  0.45  0.25        0.6       53.1            146.3
35  0.56  0.35  0.45  0.45        0.1       50.9            149.0

### Hawk - Dove - Retaliators with 𝛅

 #### 𝛅 < 1/2 v and v < c

Read the pre-processed csv file generated by the BehaviorSpace simulation.

In [154]:
data_hdr_d = pd.read_csv('hdr_d.csv', sep=";")
data_hdr_d

,[run number],c,v,d,p,q,[step],count hawks,count doves,count retaliators
0,6,0.16,0.10,0.02,0.25,0.25,10000,0,0,200
1,1,0.16,0.10,0.02,0.25,0.25,10000,0,0,200
2,2,0.16,0.10,0.02,0.25,0.25,10000,0,0,200
3,11,0.16,0.10,0.02,0.25,0.45,10000,1,0,199
4,5,0.16,0.10,0.02,0.25,0.25,10000,0,0,200
...,...,...,...,...,...,...,...,...,...,...
315,316,0.26,0.15,0.04,0.45,0.45,10000,86,112,2
316,314,0.26,0.15,0.04,0.45,0.45,10000,91,106,3
317,319,0.26,0.15,0.04,0.45,0.45,10000,0,0,200
318,318,0.26,0.15,0.04,0.45,0.45,10000,93,107,0
319,320,0.26,0.15,0.04,0.45,0.45,10000,95,103,2

Sort the data frame according the first column which is the run number. Since Netlogo uses multi-threading in Behavior Space simulations, each run is assigned to a thread so they don't necessarily finish at the same time and, consequently, they are not sequentially ordered.

In [155]:
data_hdr_d = data_hdr_d.sort_values(by=data_hdr_d.columns[0], ascending=True)
data_hdr_d

,[run number],c,v,d,p,q,[step],count hawks,count doves,count retaliators
1,1,0.16,0.10,0.02,0.25,0.25,10000,0,0,200
2,2,0.16,0.10,0.02,0.25,0.25,10000,0,0,200
8,3,0.16,0.10,0.02,0.25,0.25,10000,0,1,199
10,4,0.16,0.10,0.02,0.25,0.25,10000,0,0,200
4,5,0.16,0.10,0.02,0.25,0.25,10000,0,0,200
...,...,...,...,...,...,...,...,...,...,...
315,316,0.26,0.15,0.04,0.45,0.45,10000,86,112,2
313,317,0.26,0.15,0.04,0.45,0.45,10000,0,0,200
318,318,0.26,0.15,0.04,0.45,0.45,10000,93,107,0
317,319,0.26,0.15,0.04,0.45,0.45,10000,0,0,200
319,320,0.26,0.15,0.04,0.45,0.45,10000,95,103,2

Define a function that gets the average results of all possible combination of parameter configurations and places them in a new dataframe.

In [156]:
def process_hdr_cv_data(df):
    parameters = []
    averages = []
    for i in range(0, len(df), 10):
        rows = df.iloc[i:i+10]
        parameters.append(list(rows.iloc[0, 1:6]))
        averages.append(list(rows.iloc[:, -3:].mean()))

    parameters_df = pd.DataFrame(parameters)
    averages_df = pd.DataFrame(averages)

    merged_df = pd.concat([parameters_df, averages_df], axis=1)

    return merged_df

Rename the columns properly.

In [157]:
new_data_hdr_d = process_hdr_cv_data(data_hdr_d)
new_data_hdr_d.columns = ['c','v','d','p','q','avg_hawks','avg_doves','avg_retaliators'] 
new_data_hdr_d

       c     v     d     p     q  avg_hawks  avg_doves  avg_retaliators
0   0.16  0.10  0.02  0.25  0.25        0.0        0.2            199.8
1   0.16  0.10  0.02  0.25  0.45        0.1        0.0            199.9
2   0.16  0.10  0.02  0.45  0.25        0.1        0.1            199.8
3   0.16  0.10  0.02  0.45  0.45       95.0      103.7              1.3
4   0.16  0.10  0.04  0.25  0.25        0.3        0.1            199.6
5   0.16  0.10  0.04  0.25  0.45        0.1        0.1            199.8
6   0.16  0.10  0.04  0.45  0.25        0.2        0.0            199.8
7   0.16  0.10  0.04  0.45  0.45        0.1        0.1            199.8
8   0.16  0.15  0.02  0.25  0.25        0.0        0.1            199.9
9   0.16  0.15  0.02  0.25  0.45        0.2        0.0            199.8
10  0.16  0.15  0.02  0.45  0.25        0.0        0.4            199.6
11  0.16  0.15  0.02  0.45  0.45      127.5       70.4              2.1
12  0.16  0.15  0.04  0.25  0.25        0.0        0.0            200.0
13  0.16  0.15  0.04  0.25  0.45        0.0        0.2            199.8
14  0.16  0.15  0.04  0.45  0.25        0.1        0.1            199.8
15  0.16  0.15  0.04  0.45  0.45       63.7       34.8            101.5
16  0.26  0.10  0.02  0.25  0.25        0.2        0.1            199.7
17  0.26  0.10  0.02  0.25  0.45        0.1        0.0            199.9
18  0.26  0.10  0.02  0.45  0.25        0.0        0.2            199.8
19  0.26  0.10  0.02  0.45  0.45       64.4      134.9              0.7
20  0.26  0.10  0.04  0.25  0.25        0.2        0.0            199.8
21  0.26  0.10  0.04  0.25  0.45        0.0        0.0            200.0
22  0.26  0.10  0.04  0.45  0.25        0.1        0.0            199.9
23  0.26  0.10  0.04  0.45  0.45        0.0        0.1            199.9
24  0.26  0.15  0.02  0.25  0.25        0.0        0.4            199.6
25  0.26  0.15  0.02  0.25  0.45        9.3       10.7            180.0
26  0.26  0.15  0.02  0.45  0.25        0.0        0.3            199.7
27  0.26  0.15  0.02  0.45  0.45       92.8      106.2              1.0
28  0.26  0.15  0.04  0.25  0.25        0.1        0.0            199.9
29  0.26  0.15  0.04  0.25  0.45        0.1        0.1            199.8
30  0.26  0.15  0.04  0.45  0.25        0.2        0.0            199.8
31  0.26  0.15  0.04  0.45  0.45       72.6       85.9             41.5